@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

    .container {
    width: fit-content;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 5em 0;
  }
  
  .flex-container {
    vertical-align: middle;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -15mm;
  }
  
  .exp {
    width: 30em;
    vertical-align: top;
    padding: 10px 10px;
    margin: 10px 20px;
    background-color: white;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  }
  
  
  @media screen and (max-width: 650px) {
    .flex-container {
      flex-direction: initial;
    }
    .exp {
      width: 21em;
    }
}

  @media screen and (max-width: 774px) {
    .flex-container {
      vertical-align: middle;
      margin-top: -5mm;
    }
  }

  /* @media screen and (max-width: 500px) {
    .flex-container{
      margin-left: -26mm;
    }
  }
  @media screen and (max-width: 350px) {
    .flex-container{
      margin-left: -31.5mm;
    }
  } */
  @media screen and (max-width: 1185px) {
    .flex-container {
      vertical-align: middle;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: -5mm;
    }
  }
  
  .exp p {
    font-size: 1.3em;
  }
    h4{
       text-align: center; 
    }

    h3{
        margin-top: -2mm;
        text-align: center;
    }

    P{
        text-align: left; 
    }
    h4::after {
    content: " ";
    display: block;
    width: 15px;
    border:3px  solid #a04eff;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .img {
    position: relative;
    height: 8em; 
    justify-content: center;
    margin: 20px 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  }