@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

.div-intro {
  background-color: #a04eff;
  padding-left: 20px;
  padding-right: 50px;
  margin-top: 60px;
}


.Navbarfixed > .active {
  border-bottom: 1px solid rgb(255, 255, 255);
}
.intro {
  padding-top: 100px;
  padding-bottom: 80px;
}

.image-adel {
  width: 30vw;
  border-radius: 100px;
  margin-left: 100px;
  padding-right: 20px;
}

.header {
  margin-left: 10%;
  font-size: 70px;
  font-weight: 900;
  line-height: 70pt;
  font-family: "lato";
}

.header2 {
  margin-top: -50%;
  font-size: 60px;
  font-weight: 900;
  line-height: 70pt;
  font-family: "lato";
}

.header-name {
  margin-left: 10%;
  font-size: 70px;
  font-weight: 900;
  line-height: 70pt;
  color: black;
  font-family: "lato";
}

.subtext {
  margin-left: 10%;
  margin-top: 30px;
  font-size: 25px;
  color: black;
  font-family: "lato";
}

.row-icons {
  margin-top: 25px;
  width: 39%;
  align-items: center;
  position: relative;
}

.icon:hover {
  background-color: rgba(116, 108, 108, 0.486);
}

.icon {
  width: 50px;
}

.copyright {
  text-align: center;
  width: 100%;
  font-family: "lato";
  font-weight: 700;
  color: black;
  }

@media screen and (max-width: 1345.6px) {
    .image-adel {
        width: 30vw;
        border-radius: 100px;
        margin-left: 100px;
        margin-top: 12%;
        padding-right: 20px;
    }
  }

@media screen and (max-width: 1205.6px) {
    .image-adel {
        width: 30vw;
        border-radius: 100px;
        margin-left: 100px;
        margin-top: 10%;
        padding-right: 20px;
    }

    .subtext {
        margin-left: 10%;
        margin-top: 30px;
        font-size: 20px;
        color: black;
        font-family: "lato";
      }
}

@media screen and (max-width: 1300px) {
  .header {
    font-size: 60px;
    line-height: 60pt;
  }
  .header-name {
    font-size: 60px;
    line-height: 60pt;
  }
}

@media screen and (max-width: 1157px) {
  .header {
    font-size: 40px;
    line-height: 40pt;
  }
  .header-name {
    font-size: 40px;
    line-height: 40pt;
  }

  .image-adel {
    margin-left: 30px;
    padding-right: 0px;
  }
  .subtext {
    font-size: 20px;
  }

  .icon {
    width: 30px;
  }

  .row-icons {
    margin-top: 20px;
    width: 35%;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    font-size: 40px;
    line-height: 40pt;
  }
  .header-name {
    font-size: 40px;
    line-height: 40pt;
  }

  .image-adel {
    margin-left: 30px;
    border-radius: 45px;
  }
  .subtext {
    font-size: 20px;
  }

  .icon {
    width: 30px;
  }


  .row-icons {
    margin-top: 20px;
    width: 45%;
  }
}


@media screen and (max-width: 789px) {
  .header {
    font-size: 30px;
    line-height: 30pt;
  }
  .header-name {
    font-size: 30px;
    line-height: 30pt;
  }

  .image-adel {
    margin-left: 0px;
    border-radius: 50px;
    margin-right: 0px;
    padding-right: 0px;
  }
  .subtext {
    font-size: 15px;
  }

  .icon {
    width: 20px;
  }

  .row-icons {
    margin-top: 20px;
    width: 40%;
  }
}

@media screen and (max-width: 770px) {
  .image-adel {
    margin-left: 59%;
    border-radius: 40px;
    padding-right: 0px;
  }
  .header-name {
    margin-top: 5mm;
    text-align: center;
  }
  .row-icons {
    width: 50%;
    align-items: center;
  }
}

@media screen and (max-width: 280px) {
  .image-adel {
    margin-left: 65%;
    border-radius: 40px;
    padding-right: 0px;
  }
}