.div-Interests{
  background-color: #a04eff;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 800px;
  }
  
  .each-slide-climbing2 > div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 800px;
  }
  

  .slide-show{
    padding: 15px 15px;
    border-radius: 10px;
    margin: 2em 0;
    
  }

  @media screen and (max-width: 1450px) {

    .each-slide > div {
        height: 500px;
      }
    
  }

  @media screen and (min-width: 1450px) {

    .slide-show{

      padding-left: 200px;
      padding-right: 200px;

    }
    
  }

  @media screen and (max-width: 1141px) {

    .each-slide > div {
        height: 400px;
      }
      .each-slide-climbing2 > div{
        height: 400px;
      }
    
  }

  @media screen and (max-width: 950px) {

    .each-slide > div {
        height: 350px;
      }

      .each-slide-climbing2 > div{
        height: 350px;
      }
    
    
  }

  @media screen and (max-width: 860px) {

    .each-slide > div {
        height: 300px;
      }

      .each-slide-climbing2 > div{
        height: 300px;
      }  
  }


  @media screen and (max-width: 450px) {

      .each-slide > div {
        height: 200px;
      }
      .each-slide-climbing2 > div{
        height: 200px;
      }  
  }
  @media screen and (max-width: 760px) {

    .div-Interests{
      padding-left: 0px;
      padding-right: 0px;

    }
    

    /* .each-slide > div {
        height: 250px;
      }
     */
  }

