.nav-text {
    color: black !important;
    text-align: center;
    font-size: 8mm;
  }

  .Navbarfixed{
    top:0;
    position: fixed;
    z-index:10;
    background-color: rgb(255, 255, 255);
    width: 100%;
   
}
.nav-items{
    width: fit-content;
    height: 10px;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-top: 25px;
}

.nav-texts {
  color: #000;
  display: flex;
  padding: 2px 10px;
  list-style: none;
  transition: background 0.5s;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-texts {
    color: black !important;
    display: inline-block;
    font-size: 4mm;
    font-weight: bold;
}

.nav-text:hover {
  text-decoration: underline;
  text-decoration-color: #a04eff;
  text-decoration-thickness: 6px;
}

.nav-items > .active {
  border-bottom: 4px solid #a04eff;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: gold;
  border-radius: 10px;
  vertical-align: middle;
}
  .nav-name {
    color: black !important;
    font-weight: bold;
    
  }

.emoji{
  width: 5vw;
  margin-right: 1000mm;
}

@media screen and (max-width: 991.2px) {
    .nav-text{
      text-align: left;
      margin-right: 800px;
    }
}

@media screen and (max-width: 980px) {
  .nav-items{
    display: none;
  }
}
