@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
.projects-header {
  margin-left: 20px;
  font-size: 50px;
  font-weight: 900;
  line-height: 70pt;
  font-family: "lato";
  color: black;
  text-decoration: underline;
  text-decoration-color: #a04eff;
  text-decoration-thickness: 10px;
}

.projects-header-ed {
  margin-left: 20px;
  font-size: 50px;
  font-weight: 900;
  line-height: 70pt;
  font-family: "lato";
  color: black;
  text-decoration: underline;
  text-decoration-color: #a04eff;
  text-decoration-thickness: 10px;
}

.projects-header2 {
  margin-left: 20px;
  font-size: 50px;
  font-weight: 900;
  line-height: 70pt;
  padding: 0px 0px 0px 0px ;
  font-family: "lato";
  color: black;
  text-decoration: underline;
  text-decoration-color: rgb(253, 253, 253);
  text-decoration-thickness: 10px;
}

.div-projects {
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
}

.div-exprience {
  background-color: #a04eff;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  font-family: "lato";
}

.grid {
  padding: 20px;
}


.img-quicktab {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-quicktab {
  position: absolute;
  width: 90%;
  height: fit-content;
  bottom: 10%;
  left: 5%;
  right: 5%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #a04eff;
}

.quicktab {
  position: relative;
  width: 40vw;
}

.quicktab:hover .img-quicktab {
  opacity: 0.5;
}

.quicktab:hover .overlay-quicktab {
  opacity: 1;
}

.text {
  padding: 10px;
  font-size: 15px;
  font-family: "lato";
  color: black;
}

@media screen and (max-width: 1300px) {
  .projects-header {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 900;
    line-height: 70pt;
    font-family: "lato";
    text-decoration: underline;
    text-decoration-color: #a04eff;
    text-decoration-thickness: 10px;
  }

  .projects-header2 {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 900;
    line-height: 70pt;
    font-family: "lato";
    text-decoration: underline;
    text-decoration-color: rgb(253, 253, 253);
    text-decoration-thickness: 10px;
  }

  .projects-header-ed {
    margin-left: 20px;
    text-align: left;
    font-size: 30px;
    font-weight: 900;
    line-height: 70pt;
    font-family: "lato";
    color: black;
    text-decoration: underline;
    text-decoration-color: #a04eff;
    text-decoration-thickness: 10px;
  }
  
}

@media screen and (max-width: 1250px) {
  .quicktab {
    width: 30vw;
  }
  .div-projects {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 1250px) {
  .quicktab {
    width: 30vw;
  }
}

@media screen and (max-width: 1200px) {

  .quicktab {
    width: 70vw;
  }

  .text {
    font-size: 14px;
    font-family: "lato";
  }
}

@media screen and (max-width: 1157px) {
  .projects-header {
    font-size: 35px;
  }

  .projects-header2 {
    font-size: 35px;
  }

  .projects-header-ed {
    font-size: 35px;
  }
}
@media screen and (max-width: 760px) {

  .div-projects {

    padding-left: 0px;
    padding-right: 0px;

  }
  
  .div-exprience {

    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 789px) {
  .projects-header {
    font-size: 25px;
    line-height: 25px;
  }

  .projects-header2 {
    font-size: 25px;
    line-height: 25px;
    padding-top: 10mm;
  }

  .projects-header-ed {
    font-size: 25px;
    line-height: 25px;
    padding-top: 10mm;
  }
}

@media screen and (max-width: 640px) {
  .text {
    font-size: 10px;
    font-family: "lato";
  }
}

/* @media screen and (max-width: 400px) {
  .projects-header2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .projects-header2 {
    font-size: 20px;
  }
} */
@media screen and (max-width: 300px) {
  .projects-header {
    font-size: 10px;
  }
  .projects-header2 {
    font-size: 10px;
  }

  .projects-header-ed {
    font-size: 10px;
  }
  
}